/* body{
    margin:0;
    background-color: #056679;;
    font-family: sans-serif;
}
.todo-container{
    
    width:350px;
    /* left:50%; */
    /* top:50%; */
    /* transform:translate(-50%,-50%); */
    /* text-align: center;
    margin:auto;
    margin-top: 40px;

}
.input-section{
    background-color: #ececec;
    padding:18px;
    border-radius:10px;
    box-shadow: 0 4px 6px rgb(30, 29, 29);
}
.input-section input{
    border-radius: 5px;
    border:1px solid rgb(226,226,226);
    width:100%;
    padding:10px;
    box-sizing: border-box;
}
h1{
    margin:0;
    margin: 15px;
    color:gray;
}
ul{
    
    text-align: left;
    padding: 0px;
    
    
}
input::placeholder{
    color:silver;

}
ul li{
display:flex;
    list-style:none;
    background-color: white;
    padding: 15px;

    border-radius: 5px;
    margin-bottom: 10px;
    color:grey;
    
    box-shadow: 0 4px 6px rgb(30, 29, 29);
}
ul li i{
    text-align: right;
    flex: 1;
    cursor: pointer;
} */ 

.container {
    width: 50%;
    margin-top: 50px;
    margin-left: 300px;
    border: none;
    padding: 30px;
    border-radius: 10px;
    background-color: #cde5ebd7;

}

h1 {
    text-align: center;
    color: rgb(122, 119, 119);
    font-weight: 600px;
}

.form-group {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.form-group Button {
    margin-left: 15px;
    padding: 15px;
}

.list {
    margin-top: 30px !important;
}

li {
    margin-bottom: 12px;
    margin-right: 45px;
    margin-left: -12px;
    background-color: rgb(91, 135, 143);
    padding: 10px;
    border-radius: 10px;
    color: rgb(231, 225, 225);
    font-size: 22px;
}

.listitems {
    display: flex;
}

.listitems .list-item-list {
    flex: 1;
}

.listitems .icons {
    padding-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

#edit {
    color: blue;
}

#delete {
    color: red;
}

#complete {
    color: green
}

#list-item {
    text-decoration: line-through;
    opacity: 0.3;
}